body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    transition: 0.3s;
}

nav a:hover{
    color: rgb(0, 94, 255);
}

section{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
}

#about img{
    width: 150px;
    border-radius: 10%;
}

.card{
    border: 1px solid lightgray;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card img{
    width: 200px;
}

.card:hover{
    transform: scale(1.03);
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: darkblue;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}